---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }} in category

      {% if post %}
      {% assign categories = post.categories %}
      {% else %}
      {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
      <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}

  </div>
  <i class="date">If you like this post then do not forget to share or click on the heart button</i>
  {% include share.html %}
  {% include disqus.html %}
</article>
